NET "clk_in" LOC = "P88";  
NET "clk_in" IOSTANDARD = LVCMOS33;
TIMESPEC TS_clk_in = PERIOD "clk_in" 20.0 ns HIGH 50%;  
NET "rst_n" LOC = "P47";   
NET "rst_n" IOSTANDARD = LVCMOS33;
NET "rst_n" PULLUP;
NET "uart_rx" LOC = "TODO_UART_RX_PIN";  
NET "uart_rx" IOSTANDARD = LVCMOS33;
NET "btn_commit" LOC = "TODO_BTN_COMMIT_PIN";  
NET "btn_commit" IOSTANDARD = LVCMOS33;
NET "btn_commit" PULLUP;
NET "btn_clear" LOC = "TODO_BTN_CLEAR_PIN";   
NET "btn_clear" IOSTANDARD = LVCMOS33;
NET "btn_clear" PULLUP;
NET "vga_hs" LOC = "TODO_VGA_HS_PIN";     
NET "vga_hs" IOSTANDARD = LVCMOS33;
NET "vga_hs" DRIVE = 8;
NET "vga_hs" SLEW = FAST;
NET "vga_vs" LOC = "TODO_VGA_VS_PIN";     
NET "vga_vs" IOSTANDARD = LVCMOS33;
NET "vga_vs" DRIVE = 8;
NET "vga_vs" SLEW = FAST;
NET "vga_r<0>" LOC = "TODO_VGA_R0_PIN";   
NET "vga_r<1>" LOC = "TODO_VGA_R1_PIN";   
NET "vga_r<2>" LOC = "TODO_VGA_R2_PIN";   
NET "vga_r<3>" LOC = "TODO_VGA_R3_PIN";   
NET "vga_r<*>" IOSTANDARD = LVCMOS33;
NET "vga_r<*>" DRIVE = 8;
NET "vga_r<*>" SLEW = FAST;
NET "vga_g<0>" LOC = "TODO_VGA_G0_PIN";   
NET "vga_g<1>" LOC = "TODO_VGA_G1_PIN";   
NET "vga_g<2>" LOC = "TODO_VGA_G2_PIN";   
NET "vga_g<3>" LOC = "TODO_VGA_G3_PIN";   
NET "vga_g<*>" IOSTANDARD = LVCMOS33;
NET "vga_g<*>" DRIVE = 8;
NET "vga_g<*>" SLEW = FAST;
NET "vga_b<0>" LOC = "TODO_VGA_B0_PIN";   
NET "vga_b<1>" LOC = "TODO_VGA_B1_PIN";   
NET "vga_b<2>" LOC = "TODO_VGA_B2_PIN";   
NET "vga_b<3>" LOC = "TODO_VGA_B3_PIN";   
NET "vga_b<*>" IOSTANDARD = LVCMOS33;
NET "vga_b<*>" DRIVE = 8;
NET "vga_b<*>" SLEW = FAST;
NET "led<0>" LOC = "TODO_LED0_PIN";       
NET "led<1>" LOC = "TODO_LED1_PIN";       
NET "led<2>" LOC = "TODO_LED2_PIN";       
NET "led<3>" LOC = "TODO_LED3_PIN";       
NET "led<*>" IOSTANDARD = LVCMOS33;
NET "led<*>" DRIVE = 8;
TIMESPEC TS_pix_clk = PERIOD "pix_clk" 39.722 ns HIGH 50%;
TIMESPEC TS_clk_cross = FROM "clk_in" TO "pix_clk" TIG;
TIMESPEC TS_pix_cross = FROM "pix_clk" TO "clk_in" TIG;
NET "pix_clk_gen/clk0" TNM_NET = "dcm_clk0";
NET "pix_clk_gen/pix_clk" TNM_NET = "dcm_pix_clk";
TIMEGRP "dcm_clks" = "dcm_clk0" "dcm_pix_clk";
INST "qr_fb" AREA_GROUP = "qr_framebuffer_group";
AREA_GROUP "qr_framebuffer_group" RANGE = CLB_X0Y0:CLB_X8Y8;  
NET "pix_clk_gen/dcm_inst/CLK0" KEEP;
NET "pix_clk_gen/dcm_inst/CLKDV" KEEP;
