NET "clk_in" LOC = "P88";  
NET "clk_in" IOSTANDARD = LVCMOS33;
TIMESPEC TS_clk_in = PERIOD "clk_in" 20.0 ns HIGH 50%;  
NET "rst_n" LOC = "P47";   
NET "rst_n" IOSTANDARD = LVCMOS33;
NET "rst_n" PULLUP;
NET "uart_rx" LOC = "P40";  
NET "uart_rx" IOSTANDARD = LVCMOS33;
NET "btn_commit" LOC = "P39";  
NET "btn_commit" IOSTANDARD = LVCMOS33;
NET "btn_commit" PULLUP;
NET "btn_clear" LOC = "P38";   
NET "btn_clear" IOSTANDARD = LVCMOS33;
NET "btn_clear" PULLUP;
NET "vga_hs" LOC = "P41";     
NET "vga_hs" IOSTANDARD = LVCMOS33;
NET "vga_hs" DRIVE = 8;
NET "vga_hs" SLEW = FAST;
NET "vga_vs" LOC = "P42";     
NET "vga_vs" IOSTANDARD = LVCMOS33;
NET "vga_vs" DRIVE = 8;
NET "vga_vs" SLEW = FAST;
NET "vga_r<0>" LOC = "P43";   
NET "vga_r<1>" LOC = "P44";   
NET "vga_r<2>" LOC = "P45";   
NET "vga_r<3>" LOC = "P46";   
NET "vga_r<*>" IOSTANDARD = LVCMOS33;
NET "vga_r<*>" DRIVE = 8;
NET "vga_r<*>" SLEW = FAST;
NET "vga_g<0>" LOC = "P48";   
NET "vga_g<1>" LOC = "P49";   
NET "vga_g<2>" LOC = "P50";   
NET "vga_g<3>" LOC = "P51";   
NET "vga_g<*>" IOSTANDARD = LVCMOS33;
NET "vga_g<*>" DRIVE = 8;
NET "vga_g<*>" SLEW = FAST;
NET "vga_b<0>" LOC = "P52";   
NET "vga_b<1>" LOC = "P53";   
NET "vga_b<2>" LOC = "P54";   
NET "vga_b<3>" LOC = "P57";   
NET "vga_b<*>" IOSTANDARD = LVCMOS33;
NET "vga_b<*>" DRIVE = 8;
NET "vga_b<*>" SLEW = FAST;
NET "led<0>" LOC = "P58";       
NET "led<1>" LOC = "P59";       
NET "led<2>" LOC = "P60";       
NET "led<3>" LOC = "P61";       
NET "led<*>" IOSTANDARD = LVCMOS33;
NET "led<*>" DRIVE = 8;
TIMESPEC TS_pix_clk = PERIOD "pix_clk" 39.722 ns HIGH 50%;
TIMESPEC TS_clk_cross = FROM "clk_in" TO "pix_clk" TIG;
TIMESPEC TS_pix_cross = FROM "pix_clk" TO "clk_in" TIG;
NET "pix_clk_gen_inst/clk0" TNM_NET = "dcm_clk0";
NET "pix_clk_gen_inst/pix_clk" TNM_NET = "dcm_pix_clk";
TIMEGRP "dcm_clks" = "dcm_clk0" "dcm_pix_clk";
INST "qr_framebuffer_inst" AREA_GROUP = "qr_framebuffer_group";
AREA_GROUP "qr_framebuffer_group" RANGE = CLB_X0Y0:CLB_X8Y8;  
NET "pix_clk_gen_inst/dcm_inst/CLK0" KEEP;
NET "pix_clk_gen_inst/dcm_inst/CLKDV" KEEP;
