.DS_Store
*~
*.swp
*.swo
*.bak
*.tmp
*.log
_xmsgs/
xst/
iseconfig/
isim/
work/
*.xise
*.gise
*.ise
*.xise.backup
*.xrpt
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.map
*.mrp
*.ngm
*.xwbt
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
_ngo/
_xmsgs/
*.vcd
*.wdb
*.saif
transcript
vsim.wlf
modelsim.ini
vivado_qvision/
*.log
*.jou